<aside class="sidebar" id="site-sidebar" aria-label="Site sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav" aria-label="Primary">
      <p class="sidebar-nav-label">Explore</p>
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>

      {% assign pages_list = site.pages | sort: "title" %}
      {% for node in pages_list %}
        {% if node.title and node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endfor %}
    </nav>

    <div class="sidebar-meta">
      {% if site.author.email %}
      <a class="sidebar-meta-link" href="mailto:{{ site.author.email }}">Email</a>
      {% endif %}
      {% if site.url %}
      <!-- <a class="sidebar-meta-link" href="{{ site.url }}">{{ site.url | replace: "https://", "" | replace: "http://", "" }}</a> -->
      {% endif %}
      <p class="sidebar-copyright">&copy; {{ site.time | date: '%Y' }} {{ site.title }}</p>
    </div>
  </div>
</aside>
